@import 'styles/variables.scss';

.app {
  margin: 80px auto $base-margin auto;
  padding: 0 2 * $base-padding 2 * $base-padding 2 * $base-padding;

  width: 960px;
  background-color: $white;
}

.main {
  text-align: center;
  background-color: white;
}

.image {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
}

.hello {
  word-wrap: break-word;
}

.educationName {
  text-align: left;
  color: rgb(247, 60, 60);
  margin-top: 20px;
  margin-bottom: 15px;
}

.year{
  float: left;
  padding-right: 50px;
}

.aboutMe {
  text-align: left;
}

.text {
  text-align: left;
}

.component {
  margin-top: 15px;
  margin-bottom: 15px;
}
